
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookworms | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <a href="/expt" > Expt </a>
    <div>
        <h2> Books </h2>
        <% if(books.length > 0) {  %>
            <%  for (var i = 0; i< books.length; i++) {  %>
                <h2><%=  books[i].title  %></h2>
                <p><%=  books[i].body  %> <p>
            <%  }  %>
        <% } %>
    </div>

    <%- include('./partials/footer/footer.ejs') %>
</body>
</html>