<div class="container">
    <h4>Name: <%=reader.FIRST_NAME + ' ' + reader.LAST_NAME%></h4>
    <h5><p>Username: <%=reader.USERNAME%></h5>
    </div>
    
    <div class="container">
    <div class = "row">
    <div class = "col-sm-12">
    <h6>
        <b> Recent BookShelf Activities: </b> </h6>
        <ul>
                <%  for (var i = 0; i< bLen; i++) {  %>
                    
                    <li>
                            Added 
                            <a = class = "single" href = "/books/<%=books[i].BOOK_ID%>" ><%=  books[i].TITLE  %> </a>
                            to 
                            <%if(books[i].STATUS == 1){%> 
                                <b>"Has Read"</b>
                            <%}%>
                            <%if(books[i].STATUS == 2){%> 
                                <b>"Is Reading"</b>
                            <%}%>
                            <%if(books[i].STATUS == 3){%> 
                                <b>"Will Read"</b>
                            <%}%>
                            <i><%=books[i].TD%></i> ago
                            <%if(books[i].TD < 1){%> 
                                <%if(Math.round(books[i].TD * 24) == 0){%>
                                    <i>less than an hour</i> ago
                                <%}%>
                                <%if(Math.round(books[i].TD * 24) > 0){%>
                                    <i><%= Math.round(books[i].TD * 24)%> hours</i> ago
                                <%}%>

                            <%}%>
                            
                            <%if(books[i].TD > 30){%> 
                                <i><%= Math.round(books[i].TD / 30)%> month(s)</i> ago
                            <%}%>
                            <%if(books[i].TD > 1 && books[i].TD < 30){%> 
                                <i> <%= Math.round(books[i].TD)%> days</i> ago
                            <%}%>

                    </li>
                    
                    
                <%  }  %>
        </ul>
    
    
        <h6>
            <b> Recently started following these Authors: </b> </h6>
            <ul>
                    <%  for (var i = 0; i< AfLen; i++) {  %>
                        
                        <li>
                                Followed 
                                <a = class = "single" href = "/authors/<%=Afollows[i].AUTHOR_ID%>" ><%=  Afollows[i].FIRST_NAME + ' ' + Afollows[i].LAST_NAME   %> </a>
                                <i><%=Afollows[i].TD%></i> ago
    
                        </li>
                        
                        
                    <%  }  %>
            </ul>
        
        
        <h6>
            <b>  Recently started following these Readers: </b> </h6>
            <ul>
                    <%  for (var i = 0; i< RfLen; i++) {  %>
                        
                        <li>
                                Followed 
                                <a = class = "single" href = "/readers/<%=Rfollows[i].READER_ID%>" ><%=  Rfollows[i].FIRST_NAME + ' ' + Rfollows[i].LAST_NAME   %> </a>
                                <i><%=Rfollows[i].TD%></i> ago
    
                        </li>
                        
                        
                    <%  }  %>
            </ul>
        
        



        
            <h6>
                <b> Recent Followers: </b> </h6>
                <ul>
                        <%  for (var i = 0; i< fbLen; i++) {  %>
                            
                            <li>
                                    <a = class = "single" href = "/readers/<%=followers[i].READER_ID%>" ><%=  followers[i].FIRST_NAME + ' ' + followers[i].LAST_NAME   %> </a>
                                    started following you
                                    <i><%=followers[i].TD%></i> ago
        
                            </li>
                            
                            
                        <%  }  %>
                </ul>
            
            </div>

            <div class="column">
                <h6>
                    <b> Recent Reviews: </b> 
                </h6>
                <% if(reviewLen) { %>
                <ul>
                    <% for(var i=0; i < reviewlen; i++) { %>
                        <li>
                            <p class="booktitle" name="title"><h5>Book: <a = class = "single" href = "/books/<%= review[i].BOOK_ID %>" ><%= review[i].TITLE %></a><h5>
                            <p class="time-style" name="time"><b>Shared: <%= review[i].TIMEDIF%> ago</b></p>
                            <p class="rating-style" name="rating"><b>Your Rating: <%= review[i].RATING%> star</b></p>
                            <p class="post-body-style" name="postBody"><%= review[i].TEXT_BODY%></p>
                            <a class="deleteReview" data-doc="<%= review[i].REVIEW_ID %>-dashboard" onclick="deleteReview()">Delete Review</a>
                        </li>
                    <% } %>
                </ul>
                <% } else { %>
                    <p><b>You Have No Reviews To Show!</b></p>
                <% } %>
                
            </div>

            <div class="column">
                <h6>
                    <b> Recent Wallposts: </b> 
                </h6>
                <% if(wallpost.length) { %>
                <ul>
                    <% for(var i=0; i < wallpost.length; i++) { %>
                        <li>
                            <p class="post-body-style" name="postBody"><%= wallpost[i].POST_BODY%></p>
                            <p class="reaction-body" name="react"><b><%= wallpost[i].LIKE_COUNT%> People Reacted</b></p>
                            <p class="time-style" name="time"><b>Posted <%= wallpost[i].TIMEDIF%> ago</b></p>
                            <a class="deleteWallpost" data-doc="<%= wallpost[i].WALLPOST_ID %>" onclick="deleteWallpost()">Delete Wallpost</a>
                        </li>
                    <% } %>
                </ul>
                <% } else { %>
                    <p><b>You Have No Wallpost To Show!</b></p>
                <% } %>
                
            </div>
</div>

<script>
    function deleteReview() {
        const trashReview = document.querySelector('a.deleteReview');
        const requestPath = `/review/${trashReview.dataset.doc}`;
        if(confirm("You sure want to delete this review?")) {
            fetch(requestPath, {
                method: 'DELETE'
            })
            .then((res) => res.json())
            .then((data) => {
                window.location.href = data.redirect;
            })
            .catch((err) => {
                console.log(err);
            });
        }
    }

    function deleteWallpost() {
        const trashWallpost = document.querySelector('a.deleteWallpost');
        const requestPath = `/wallpost/${trashWallpost.dataset.doc}`;
        if(confirm("You sure want to delete this Wallpost?")) {
            fetch(requestPath, {
                method: 'DELETE'
            })
            .then((res) => res.json())
            .then((data) => {
                window.location.href = data.redirect;
            })
            .catch((err) => {
                console.log(err);
            });
        }
    }
    /*const trashwallpost = document.querySelector('a.deleteWallpost'); 
    trashwallpost.addEventListener('click', (e) => {
        const requestPath = `/wallpost/${trashwallpost.dataset.doc}`;
        console.log("hey");
        if(confirm("You sure want to delete this review?")) {
            fetch(requestPath, {
                method: 'DELETE'
            })
            .then((res) => res.json())
            .then((data) => {
                window.location.href = data.redirect;
            })
            .catch((err) => {
                console.log(err);
            });
        }
    });*/
</script>