<div class="container">
    <img src="<%=photo%>" alt="Profile picture" width="150">
</div> 


<div class="container">
<h2>Name: <%=author.FIRST_NAME + ' ' + author.LAST_NAME%></h2>

<div class="container">
    Followers: <%=author.FOLLOWER_COUNT%>
    
</div>


<% if(books.length == 0) {  %>
    <p>No Books By This Author</p>
<% } %>
</div>

<div class="container">
<ul>
    <% if(books.length > 0) { %>
        <p>We have <%=books.length%> Books by This Author</p>
        <%  for (var i = 0; i< books.length; i++) {  %>
            <% console.log('this is ' + i + ' ' + books[0].title)  %>
            
            <li>
                <h5>
                    <a = class = "single" href = "/books/<%=books[i].BOOK_ID%>" ><%=  books[i].TITLE  %> </a>
                </h5>
                <h6>
                    <b>Publisher: </b>
                    <%= books[i].NAME  %>
                </h6>
            </li>
            
            
        <%  }  %>
    <% } %>
</ul>

</div>

<div class="container">

<% if(FollowStatus == 0) { %>
                
    <h6>
        <b>Not Followed </b>
    </h6>
    <form action="/authors/<%=author.AUTHOR_ID%>" method="POST">
        <button type="submit" class="btn btn-outline-primary" name="follow" value="1">Follow This Author</button>
    </form>
    
<% } %>

<% if(FollowStatus == 1) { %>
                
    <h6>
        <b> Following this Author </b>
    </h6>
    <form action="/authors/<%=author.AUTHOR_ID%>" method="POST">
        <button type="submit" class="btn btn-outline-secondary" name="primary" value="0">Unfollow This Author</button>
    </form>
    
<% } %>
</div>