



<div class="container">
    <img src="<%=photo%>" alt="Responsive image" class="img-thumbnail" width="40%" >
</div> 


<div class="container">
    <div class="row" style="padding-top: 50px;">
        <div class="col-3">
        <h2> <i><%=genre.GENRE_NAME%><br></i></h2>
    </div>
    <div class="col-9">
        <% if(FollowStatus == 0) { %>
                        
            
                <b>Not Added to Favorites </b>
            
            <form action="/genres/<%=genre.GENRE_ID%>" method="POST">
                <button class="btn btn-outline-primary" name="like" value="1">Add to Favorites</button>
            </form>
            
        <% } %>

        <% if(FollowStatus == 1) { %>
                        
            
                <b> Added to favorites </b>
            
            <form action="/genres/<%=genre.GENRE_ID%>" method="POST">
                <button class="btn btn-outline-primary" name="like" value="0">Remove from Favorites</button>
            </form>
            
        <% } %>
    </div>
    </div>
</div>
<div class="container">
<hr style="border:1px solid #f1f1f1d0">
</div>
<div class="container">
    <div class="row">
        <p>
        <b><i>Preview:</i></b> <%=genre.SUMMARY%> <br>
        </p>
    </div>
</div>
</div>



<div class="container">
<div class="row">
    <div class="col-6">
    <% if(books.length > 0) { %>
        
        <ul><p>We have <b><i><%=books.length%></i></b> Books  In this Genre</p>
        <%  for (var i = 0; i< books.length; i++) {  %>
            
            <li class = "bookSuggestion" style="margin : 8px 0">
                
                    <a = class = "single" href = "/books/<%=books[i].BOOK_ID%>" ><%=  books[i].TITLE  %> </a>
                
            </li>
            
        <%  }  %>
        </ul>
    <% } %>
</div>

<div class="col-6">
    <% if(authors.length > 0) { %>
        
        <ul><p>We have <b><i><%=authors.length%></i></b> Authors specializing in this Genre</p>
        <%  for (var i = 0; i< authors.length; i++) {  %>
            
            <li class = "authorSuggestion" style="margin : 8px 0">
                
                    <a = class = "single" href = "/authors/<%=authors[i].AUTHOR_ID%>" ><%=  authors[i].FIRST_NAME + ' ' + authors[i].LAST_NAME  %> </a>
                
            </li>
            
        <%  }  %>
        </ul>
    <% } %>
</div>
</div>
</div>>