<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="<%=photo%>" alt="Responsive image" class="img-thumbnail" width="200" style="border-radius: 100%;">
        </div>

        <div class="col-9" style="padding-top: 20px;">
            <h4><%=reader.FIRST_NAME + ' ' + reader.LAST_NAME%> <span class="card-subtitle mb-2 text-muted">(<i><%=reader.USERNAME%>)</i></span></h4>
            <p class="h6"><span class="card-subtitle mb-2 text-muted"><b><%=reader.FOLLOWER_COUNT%> </b>Followers</span></p>
            <p class="h6"><span class="card-subtitle mb-2 text-muted">Born: <%=reader.BORN%> </span></p>
            <p class="h6"><span class="card-subtitle mb-2 text-muted"><b> BIO: </b>"<%=reader.BIO%>" </span></p>
            <% if(FollowStatus == 0) { %>
                
                <h6><span class="card-subtitle mb-2 text-muted">
                    <b>Not Followed </b>
                </span>
                </h6>
                <form action="/readers/follow/<%=reader.READER_ID%>" method="POST">
                    <button name="follow" value="1" class="btn btn-outline-primary">Follow this Reader</button>
                </form>
                
            <% } %>
            
            <% if(FollowStatus == 1) { %>
                            
                <h6>
                    <b> Following this Reader </b>
                </h6>
                <form action="/readers/follow/<%=reader.READER_ID%>" method="POST">
                    <button name="follow" value="0" class="btn btn-outline-primary">Unfollow this Reader</button>
                </form>
                
            <% } %>
        </div>

    </div>
    <hr style="border:1px solid #f1f1f1d0">
</div>   




<div class="container">
    <h5><span class="card-subtitle mb-2 text-muted" style="text-align : center;">Book-shelf</span></h5>

</div>


<div class="row">
    <div class="col-4" style = "padding-left: 20px;">
        <h6>
            <b> Books Already Read  (Total: <%=booksread.length%>) </b></h6>
            <% if(booksread.length == 0) {  %>
                <p>No Books Finished Reading yet</p>
            <% } %>
            
            <ul>
                <% if(booksread.length > 0) { %>
                    <%  for (var i = 0; i< booksread.length; i++) {  %>
                        <% console.log('this is ' + i + ' ' + booksread[0].title)  %>
                        
                        <li class="bookSuggestion" style="margin : 8px 0">
                            
                                <a = class = "single" href = "/books/<%=booksread[i].BOOK_ID%>" ><%=  booksread[i].TITLE  %> </a>
                            
                        </li>
                        
                        
                    <%  }  %>
                <% } %>
            </ul>
    </div>


    <div class="col-4" style = "padding-left: 20px;">
        <h6>
            <b> Books Currently Reading (Total: <%=booksreading.length%>) </b> </h6>
            <% if(booksreading.length == 0) {  %>
                <p>No Books Currently Reading</p>
            <% } %>
            
            <ul>
                <% if(booksreading.length > 0) { %>
                    <%  for (var i = 0; i< booksreading.length; i++) {  %>
                        <% console.log('this is ' + i + ' ' + booksreading[0].title)  %>
                        
                        <li class="bookSuggestion" style="margin : 8px 0">
                            
                                <a = class = "single" href = "/books/<%=booksreading[i].BOOK_ID%>" ><%=  booksreading[i].TITLE  %> </a>
                            
                        </li>
                        
                        
                    <%  }  %>
                <% } %>
            </ul>
        
    </div>
    <div class="col-4">
        <h6>
            <b> Books to be Read (Total: <%=bookswillread.length%>) </b> </h6>
            <% if(booksreading.length == 0) {  %>
                <p>No Books to be Read</p>
            <% } %>
            
            <ul>
                <% if(bookswillread.length > 0) { %>
                    <%  for (var i = 0; i< bookswillread.length; i++) {  %>
                        <% console.log('this is ' + i + ' ' + bookswillread[0].title)  %>
                        
                        <li class="bookSuggestion" style="margin : 8px 0">
                            
                                <a = class = "single" href = "/books/<%=bookswillread[i].BOOK_ID%>" ><%=  bookswillread[i].TITLE  %> </a>
                            
                        </li>
                        
                        
                    <%  }  %>
                <% } %>
            </ul>

        
    </div>


</div>



<div class="container">
    <hr style="border:1px solid #817c7cd0">
</div>

<div class="container">

<h6>
    <b> Authors Followed (Total: <%=commonAuthors.length + otherAuthors.length%>) </b>
</h6>
</div>
<div class="row">
<div class="col-6" style = "padding-left: 20px;">
    <% if(commonAuthors.length == 0) {  %>
        <p>No Common Followed Authors</p>
    <% } %>
    <% if(commonAuthors.length > 0) {  %>
        Common Followed Authors: (<%=commonAuthors.length%>)
        <ul>
        <%  for (var i = 0; i< commonAuthors.length; i++) {  %>
            
            <li>
                
                    <a = class = "single" href = "/authors/<%=commonAuthors[i].AUTHOR_ID%>" ><%=  commonAuthors[i].FIRST_NAME + ' ' + commonAuthors[i].LAST_NAME  %> </a>
                
            </li>
            
            
        <%  }  %>
    </ul>
    <% } %>
</div>

    
<div class="col-6" style = "padding-left = 20px; ">
    
    <% if(otherAuthors.length == 0) {  %>
    No Other Followed Authors
    <% } %>
    <% if(otherAuthors.length > 0) {  %>
    Other Followed Authors: (<%=otherAuthors.length%>)
    <ul>
        <%  for (var i = 0; i< otherAuthors.length; i++) {  %>
            
            <li>
                    <a = class = "single" href = "/authors/<%=otherAuthors[i].AUTHOR_ID%>" ><%=  otherAuthors[i].FIRST_NAME + ' ' + otherAuthors[i].LAST_NAME  %> </a>
            </li>
            
            
        <%  }  %>
    <% } %>
    </ul>
    
</div>

</div>

<div class="container">
    <h6>
        <% if(genre.length == 0) {  %>
            <b>No Favorite Genres</b>
        <% } %>
        <% if(genre.length > 0) {  %>
            <b>Favorite Genres (<%=genre.length%>)</b> </h6>
            <ul>
            
                <%  for (var i = 0; i< genre.length; i++) {  %>
                    
                    <li class="bookSuggestion" style="margin : 8px 0">
                        
                            <a = class = "single" href = "/genres/<%=genre[i].GENRE_ID%>" ><%=  genre[i].GENRE_NAME  %> </a>
                    
                    </li>
            
                
            <%  }  %>
            </ul>
        <% } %>
    
    </div>


