<h2>Name: <%=reader.FIRST_NAME + ' ' + reader.LAST_NAME%></h2>
<p>Username: <%=reader.USERNAME%></p>



<h6>
    <b> Books Already Read  (Total: <%=booksread.length%>) </b>
    <% if(booksread.length == 0) {  %>
        <p>No Books Finished Reading yet</p>
    <% } %>
    
    <ul>
        <% if(booksread.length > 0) { %>
            <%  for (var i = 0; i< booksread.length; i++) {  %>
                <% console.log('this is ' + i + ' ' + booksread[0].title)  %>
                
                <li>
                    <h5>
                        <a = class = "single" href = "/books/<%=booksread[i].BOOK_ID%>" ><%=  booksread[i].TITLE  %> </a>
                    </h5>
                </li>
                
                
            <%  }  %>
        <% } %>
    </ul>
</h6>

<h6>
    <b> Books Currently Reading (Total: <%=booksreading.length%>) </b>
    <% if(booksreading.length == 0) {  %>
        <p>No Books Currently Reading</p>
    <% } %>
    
    <ul>
        <% if(booksreading.length > 0) { %>
            <%  for (var i = 0; i< booksreading.length; i++) {  %>
                <% console.log('this is ' + i + ' ' + booksreading[0].title)  %>
                
                <li>
                    <h5>
                        <a = class = "single" href = "/books/<%=booksreading[i].BOOK_ID%>" ><%=  booksreading[i].TITLE  %> </a>
                    </h5>
                </li>
                
                
            <%  }  %>
        <% } %>
    </ul>
</h6>

<h6>
    <b> Books to be Read (Total: <%=bookswillread.length%>) </b>
    <% if(booksreading.length == 0) {  %>
        <p>No Books to be Read</p>
    <% } %>
    
    <ul>
        <% if(bookswillread.length > 0) { %>
            <%  for (var i = 0; i< bookswillread.length; i++) {  %>
                <% console.log('this is ' + i + ' ' + bookswillread[0].title)  %>
                
                <li>
                    <h5>
                        <a = class = "single" href = "/books/<%=bookswillread[i].BOOK_ID%>" ><%=  bookswillread[i].TITLE  %> </a>
                    </h5>
                </li>
                
                
            <%  }  %>
        <% } %>
    </ul>
</h6>

<h6>
    <% if(commonAuthors.length == 0) {  %>
        <b>No Followed Authors</b>
    <% } %>
    <% if(commonAuthors.length > 0) {  %>
        <b>Followed Authors (<%=commonAuthors.length%>)</b>
        <ul>
        
            <%  for (var i = 0; i< commonAuthors.length; i++) {  %>
                
                <li>
                    <h5>
                        <a = class = "single" href = "/authors/<%=commonAuthors[i].AUTHOR_ID%>" ><%=  commonAuthors[i].FIRST_NAME + ' ' + commonAuthors[i].LAST_NAME  %> </a>
                    </h5>
                </li>
        
            
        <%  }  %>
        </ul>
    <% } %>
</h6>
    

    


