  <div class="input-group">

    <form action="/readers/search" method="POST">
        <label for="fl">Search Type:</label>
        <select name="fl" id="fl">
          <option selected disabled>Choose Type</option>
            <option value="1">All Readers</option>
            <option value="2">Followed</option>
            <option value="3">Not followed</option>
        </select>
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search for Readers"
          class="search"
        />
        <button class="search-btn" type="submit">Search</button>
    </form>
<div class="imae"></div>

  <div class="container">
    <h5>Readers with similar interests in books:</h5>
    <%if(readers.length > 0){ %>
      <ul>
      <%  for (var i = 0; i< RLen; i++) {  %>
          
        <li class="readerSuggestion">
                <%=readers[i].FIRST_NAME + ' ' + readers[i].LAST_NAME%> <a = class="userSuggestion" href = "/readers/<%=readers[i].READER_ID%>"> <i> <%=" (" + readers[i].USERNAME + ") "   %> </i></a>
                <ul>Common books liked (<%=readers[i].C %>):
                  <%  for (var j = 0; j< books[i].length; j++) {  %>
                    <li>
                      <a = class = "single" href = "/books/<%=books[i][j].BOOK_ID%>" ><%=  books[i][j].TITLE  %> </a>
                    </li>

                    <%  }  %>
                
                  </ul>
        </li>
      
        
        <%  }  %>
    <%  }  %>
    <%if(readers.length == 0){ %>
      <i><p>***Please add some more books to bookshelf to receive suggestions***</p></i>
      <%  }  %>
      </ul>


  </div>

  <div class="container">
    <h5>Readers with common Authors followed:</h5>
    <%if(readers1.length > 0){ %>
      <ul>
      <%  for (var i = 0; i< RLen; i++) {  %>
          
        <li class="readerSuggestion">
                <%=readers1[i].FIRST_NAME + ' ' + readers1[i].LAST_NAME%> <a = class = "single" href = "/readers/<%=readers1[i].READER_ID%>" > <i> <%=" (" + readers1[i].USERNAME + ") "   %> </i></a>
        </li>
      
        
        <%  }  %>
    <%  }  %>
    <%if(readers1.length == 0){ %>
      <i><p>***Please follow some more authors to receive suggestions***</p></i>
      <%  }  %>
      </ul>


  </div>