<div class="container">
    <p><b>Overal Rating: </b></p>
    <h6><%= summary.avgRating%> average rating based on <%= summary.reviewCount%> reviews</h6>
    <p>5 star: <%= summary.fiveRate%> users</p>
    <p>4 star: <%= summary.fourRate%> users</p>
    <p>3 star: <%= summary.threeRate%> users</p>
    <p>2 star: <%= summary.twoRate%> users</p>
    <p>1 star: <%= summary.oneRate%> users</p>
</div>